body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
}

.navbar {
    margin-bottom: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1, h2 {
    color: #0404e2;
}

h1 {
    margin-bottom: 40px;
}

h2 {
    margin-top: 40px;
    margin-bottom: 20px;
}

p, ul, ol {
    margin-bottom: 20px;
}

ul, ol {
    padding-left: 20px;
}

ul li, ol li {
    margin-bottom: 10px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ddd;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar-brand, .navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav li {
    float: none;
    display: inline-block;
}
